{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "babel",
    "jest"
  ],
  "rules": {
    "new-cap": ["error", { "capIsNew": false }],
    "semi": ["error", "never"],
    "arrow-parens": 0,
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-template-curly-in-string": 0,
    "guard-for-in": 1,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-console": [1, { "allow": ["warn", "error"] }],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-extension": 0,
    "react/no-unused-prop-types": [1, { "skipShapeProps": true }],
    "babel/arrow-parens": 1
  }
}
